# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist
/.next

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# avoid accidental commit of npm lockfile, since this uses yarn
package-lock.json

# config
config.json

# now-env
now.json
now-secrets.json
